# CMake and Unix Makefiles
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Ninja
.ninja_deps
.ninja_log

# Unix library build
*.a
*.o
